<h2>Cadastro de Vendas</h2>
<hr />

@model VendaViewModel
@{
   var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}
<form asp-controller="Venda" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

    <div class="form-group">
        <div class="col-4">
            <label>Data:</label>
            <input type="date" asp-for="Data" value="@Model.Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="col-4">
                <label>Cliente:</label>
                <select asp-for="CodigoCliente" asp-items="@Model.ListaClientes" class="form-control"></select>
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-4">
                    <label>Produtos:</label>
                    <select id="cboProduto" onchange="BuscarPrecoProduto()" asp-items="@Model.ListaProdutos" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-4">
                    <label>Preço unitário:</label>
                    <input id="txtValorUnitario" type="number" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <div class="col-4">
                        <label>Quantidade:</label>
                        <input id="txtQuantidade" type="number" class="form-control" onchange="CalcularSubTotal()" />
                    </div>

                    <div class="form-group">
                        <div class="col-4">
                            <label>Sub Total:</label>
                            <input id="txtSubTotal" type="number" class="form-control" disabled />
                        </div>
                        <br />

                        <div class="col">
                            <button type="button" class="btn btn-info" onClick="Adicionar()">Adicionar</button>
                            <button type="submit" class="btn btn-success">Gravar</button>
                             <button onclick="Listagem()" type="button" class="btn btn-warning">Listagem</button>
                            <button onclick="Excluir(@Model.Codigo)" type="button" class="btn btn-danger" @disabled>Excluir</button>
                        </div>
                        <br />

                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thread-inverse">
                                        <tr>
                                            <th>Produto</th>
                                            <th>Preço Unitário</th>
                                            <th>Quantidade</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gridProdutos">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Total</label>
                                <input id="txtTotal" asp-for="Total" type="text" value="@Model.Total" class="form-control" />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <textarea asp-for="JsonProdutos" id="JsonProdutos" class="col" style="display:none"></textarea>
                         <br />

                    </div>
</form>

<script>
    var Items        = new Object();
    var GridProdutos = document.getElementById("gridProdutos");
    Items.Produtos   = new Array();

    function Novo() {
        window.location = window.origin + "\\Venda\\Cadastro";
    }

    function Listagem() {
        window.location = window.origin + "\\Venda";
    }

    function Excluir(Codigo) {
        window.location = window.origin + "\\Venda\\Excluir\\" + Codigo;
    }

    function BuscarPrecoProduto() {
        var codigoProduto = document.getElementById("cboProduto");
        var url = `/LerValorProduto/${ codigoProduto.value }`;
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE)
            {
              document.getElementById("txtValorUnitario").value = xhr.responseText;
            }
        }

        xhr.open("GET", url, false);
        xhr.send(null);
    }

    function CalcularSubTotal() {
        var precoUnitario = document.getElementById("txtValorUnitario").value;
        var quantidade    = document.getElementById("txtQuantidade").value;
        var subTotal      = precoUnitario * quantidade;

        document.getElementById("txtSubTotal").value = FixaCasaDecimal(subTotal);
    }

    function Adicionar() {
        var codigoProduto = document.getElementById("cboProduto");
        var quantidade    = document.getElementById("txtQuantidade").value;
        var valorUnitario = document.getElementById("txtValorUnitario").value;
        var subTotal      = document.getElementById("txtSubTotal").value;

        Items.Produtos.push({
            "codigo_produto": codigoProduto.value,
            "quantidade": quantidade,
            "valor_unitario": valorUnitario,
            "valor_total": subTotal
        });

        document.getElementById("JsonProdutos").value = JSON.stringify(Items.Produtos)

        var linhaGrid =
            "<tr id='" + codigoProduto.value + "'>" +
            "<td>" + codigoProduto.options[codigoProduto.selectedIndex].text + "</td>" +
            "<td>" + valorUnitario + "</td>" +
            "<td>" + quantidade + "</td>" +
            "<td> R$" + subTotal + "</td>" +
            "</tr>";

        GridProdutos.innerHTML += linhaGrid;

        var total = Number(document.getElementById("txtTotal").value.toString().replace(",", ".")) + Number(subTotal);
        document.getElementById("txtTotal").value = FixaCasaDecimal(total).replace(".", ",");

        //Limpando os campos
        document.getElementById("txtQuantidade").value      = "";
        document.getElementById("txtSubTotal").value        = "";
        document.getElementById("txtValorUnitario").value   = "";
        document.getElementById("cboProduto").selectedIndex = -1;        
    }

    function FixaCasaDecimal(numero) {
        return parseFloat(Math.round(numero * 100) / 100).toFixed(2);
    }
</script>



