@model List<SistemaVenda.Entidades.Venda>

<div class="text-center">
    <div>
        <h2>Vendas</h2>
        <div class="float-left">
            <button onclick="Cadastrar()" type="button" class="btn btn-primary" style="margin-bottom:10px">Adicionar Venda</button>
        </div>
        <table class="table table-striped">
            <thead style="background-color:#a29bfe; color:aliceblue;">
                <tr>
                    <th><b>Código</b></th>
                    <th><b>Data</b></th>
                    <th><b>Cliente</b></th>
                    <th><b>Total</b></th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="Editar(@item.codigo)" style="cursor:pointer">
                        <td>@item.codigo.ToString().ToUpper()</td>
                        <td>@item.data_venda.ToString().ToUpper()</td>
                        <td>@item.codigo_cliente.ToString().ToUpper()</td>
                        <td>@item.total.ToString("C")</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    function Cadastrar(){
        window.location = window.origin + "\\Venda\\Cadastro";
    }

    function Editar(Codigo){
        window.location = window.origin + "\\Venda\\Cadastro\\" + Codigo;
    }

     function FixaCasaDecimal(numero) {
        return parseFloat(Math.round(numero * 100) / 100).toFixed(2);
    }

</script>
